title {
    text-align: center;
}

body {
    background-color: #F39507;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.section About {
}

.section Certifications {
    padding: 0;
    list-style: none;
    display: inline;
    margin: 0 15px;
    display: inline;
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.section Skills {
    padding: 0;
    list-style: none;
    display: inline;
    margin: 0 15px;
    display: inline;
    margin: 0 15px;color: white;
    text-decoration: none;
}

.section Contact me {
    padding: 0;
    list-style: none;
    display: inline;
    margin: 0 15px;
}

.section Find me {
}

reset {
}

button {
}

button:hover {
}
