title {
    text-align: center;
}

body {
    background-color: #F39507;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.section About {
    
}

.section Certifications {
}

.section Skills {
}

.section Contact me {
}

.section Find me {
}

reset {
}

button {
}

button:hover {
}
